<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well-block">
                <div class="well-title">


                    <div class="card">
                        <div class="card-header" style="text-align: center"><h3>Réservation :</h3></div>
                    </div>

                    <form #f="ngForm" [formGroup]="forms" (ngSubmit)="save()">
                        <br>

                        <div class="col-md-3">
                            <div class="form-group">

                                <label class="control-label">Livre: {{book.titre}}</label>
                                <input class="form-control input-md"
                                       type="hidden"
                                       [ngModel]="book.id"
                                       formControlName="bookId">
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">

                                <label class="control-label">Pour: {{user.login}}</label>
                                <input class="form-control"
                                       type="hidden"
                                       name="bookerId"
                                       [ngModel]="user.id"
                                       formControlName="bookerId">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group" *ngFor="let library of librarys">

                                <label class="control-label"
                                       *ngIf="library.id == book.provenance" >
                                    Point de retrait:<strong> {{library.name}} </strong>, {{library.adresse}}</label>
                                <input class="form-control"
                                       type="hidden"
                                       name="biblioId"
                                       [ngModel]="book.provenance"
                                       formControlName="biblioId">
                            </div>
                        </div>


                        <br>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                <button
                                        type="submit"
                                        class="btn btn-primary" [disabled]="forms.invalid">Valider
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
