<br>
<div class="container">
    <div class="well-block">
        <div class="well-title">

            <div class="card" style="border-radius: 10px" *ngIf="book != null">
                <div class="card-header text-center">
                    <h3>{{book.titre}}</h3>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 container-fluid">
                        <img src="{{this.book.urlimg}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <span><strong>Auteur: </strong> {{book.auteur}}</span>
                            <hr>
                            <span><strong>Edité par:</strong>  {{book.edition}} | {{book.anneeParution}}</span>
                            <hr>
                            <hr>
                            <span class="card-text"><strong>Description de l'ouvrage:</strong> {{book.description}}</span>
                        </div>
                    </div>
                </div>
                <br>

                <table class="table table-responsive">
                    <table class="table table-hover table-condensed table-striped text-center">
                        <thead class="book">
                        <tr>
                            <th>Ouvrage</th>
                            <th>Quantité</th>
                            <th>Site</th>
                            <th>Réservation</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class="clickableRow" *ngFor="let bookS of books ">


                            <td><a href="javascript:void(0)" (click)="viewBook(this.bookS.id)">{{bookS.titre}}</a></td>

                            <td *ngIf="bookS?.quantite == 0"> 0 (Premier Retour
                                :  {{waitinList[0]?.endDate | date: 'dd/MM/yyyy'}})
                            </td>
                            <td *ngIf="bookS?.quantite>0">{{bookS.quantite}}</td>
                            <td *ngIf="bookS?.provenance == 1 ">{{librarys[0]?.name}}</td>
                            <td *ngIf="bookS?.provenance == 2 ">{{librarys[1]?.name}}</td>
                            <td *ngIf="bookS?.provenance == 3 ">{{librarys[2]?.name}}</td>
                            <td *ngIf="bookS?.provenance == 4">{{librarys[3]?.name}}</td>


                            <td *ngIf="token.getLogin()!=null && bookS.quantite!=0 && !cantBook">
                                <a [title]="bookS?.titre + ' accès réservation'" href="javascript:void(0)"
                                   (click)="newBillet(this.bookS?.id)">Réservez </a>
                            </td>

                            <td *ngIf="token.getLogin()==null && !cantBook"> Connectez vous pour réservez</td>




                                <td *ngIf="bookS?.quantite == 0 && waitinList?.length < bookS.qtyMax && token.getLogin()!=null && !cantBook ">
                                    <a [title]="bookS?.titre + ' accès réservation'" href="javascript:void(0)"
                                       (click)="newBilletOnWaitList(this.bookS.id)">Rejoindre liste d'attente
                                        (Taille actuelle de la liste: {{bookS?.positionWaitList}})</a>
                                </td>

                                <td *ngIf="cantBook">
                                    Vous avez déjà une réservation pour ce livre
                                </td>



                        </tr>


                        </tbody>
                    </table>
                </table>


            </div>

            <br>
            <div class="card" style="border-radius: 10px" *ngIf="book != null && token.getLogin()!=null">
                <div class="card-header text-center">
                    <h3>Réservation en cours</h3>
                </div>
                <table class="table table-responsive">
                    <table class="table table-hover table-condensed table-striped text-center">
                        <thead class="book">
                        <tr>
                            <td>Site</td>
                            <td>Nom</td>
                            <td>Position</td>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let billetS of waitinList ; let i = index">
                            <ng-container *ngIf="billetS.biblioId== 1 && book.provenance == 1">
                                <td> {{librarys[0]?.name }}</td>
                                <ng-container *ngFor="let userS of users">
                                    <td *ngIf="userS.id==billetS.bookerId">{{userS?.login}}</td>
                                </ng-container>
                                <td>{{i + 1}}/{{waitinList?.length}}</td>
                            </ng-container>

                            <ng-container *ngIf="billetS.biblioId== 2 && book.provenance == 2">
                                <td> {{librarys[1]?.name}}</td>
                                <ng-container *ngFor="let userS of users">
                                    <td *ngIf="userS.id==billetS.bookerId">{{userS?.login}}</td>
                                </ng-container>
                                <td>{{i + 1}}/{{waitinList?.length}}</td>
                            </ng-container>

                            <ng-container *ngIf="billetS.biblioId== 3 && book.provenance == 3">
                                <td> {{librarys[2]?.name}}</td>
                                <ng-container *ngFor="let userS of users">
                                    <td *ngIf="userS.id==billetS.bookerId">{{userS?.login}}</td>
                                </ng-container>
                                <td>{{i + 1}}/{{waitinList.length}}</td>
                            </ng-container>

                            <ng-container *ngIf="billetS.biblioId== 4 && book.provenance == 4">
                                <td> {{librarys[3]?.name}}</td>
                                <ng-container *ngFor="let userS of users">
                                    <td *ngIf="userS.id==billetS.bookerId">{{userS?.login}}</td>
                                </ng-container>
                                <td>{{i + 1}}/{{waitinList?.length}}</td>
                            </ng-container>

                        </tr>
                        </tbody>
                    </table>
                </table>

            </div>
            <br>


            <div class *ngIf="book == null">
                <p>Oups..</p>
            </div>

        </div>
    </div>
</div>

