<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well-block">
                <div class="well-title">


                    <div class="card">
                        <div class="card-header" style="text-align: center"><h3>Réservation :</h3></div>
                    </div>

                    <form #f="ngForm"  (ngSubmit)="save()">
                        <br>

                        <div class="col-md-3">
                            <div class="form-group">

                                <label class="control-label">Livre: {{book.titre}}</label>
                                <input class="form-control input-md"
                                       type="text"
                                       value="{{book.titre}}"
                                       formControlName="bookId">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"
                                     [class.has-success]="forms.get('bookerId').valid"
                                     [class.has-error]="forms.get('bookerId').invalid && forms.get('bookerId').touched">

                                    <label class="control-label">Pour: {{user.login}}</label>
                                    <input class="form-control"
                                           type="text"
                                           name="bookerId"
                                           value="{{user.id}}"
                                           formControlName="bookerId">
                                </div>
                            </div>
                        </div>

                        <div class="overflow-box">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <ng-select
                                        #BiblioSelect
                                        bindLabel="name"
                                        bindValue="id"
                                        placeholder="Choisis l'endroit de retrait"
                                        [(ngModel)]="selectedBiblio"
                                        name="biblio_id"
                                        required
                                    >
                                        <ng-option [value]="biblio.id" *ngFor="let biblio of biblioArray">
                                            {{biblio.name}}
                                        </ng-option>
                                          </ng-select>


                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                <button
                                        type="submit"
                                        class="btn btn-primary" [disabled]="forms.invalid">Valider
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


