<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well-block">
                <div class="well-title">


                    <div class="card">
                        <div class="card-header" style="text-align: center"><h3>Réservation :</h3></div>
                    </div>

                    <form #f="ngForm" [formGroup]="forms"  (ngSubmit)="save()">
                        <br>

                        <div class="col-md-3">
                            <div class="form-group">

                                <label class="control-label">Livre: {{book.titre}}</label>
                                <input class="form-control input-md"
                                       type="hidden"
                                       [ngModel]="book.id"
                                       formControlName="bookId">
                            </div>
                        </div>


                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">Pour: {{user.login}}</label>
                                    <input class="form-control"
                                           type="hidden"
                                           name="bookerId"
                                           [ngModel]="user.id"
                                           formControlName="bookerId">
                                </div>
                            </div>


                        <div class="overflow-box">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <ng-select
                                        bindLabel="name"
                                        bindValue="id"
                                        placeholder="Choisis l'endroit de retrait"
                                        [items]="biblioArray"
                                        [(ngModel)]="selectedBiblio"
                                        formControlName="biblioId"
                                        required
                                    >

                                          </ng-select>


                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12" align="right">
                            <div class="form-group">
                                <button
                                        type="submit"
                                        class="btn btn-primary" [disabled]="forms.invalid">Valider
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


